﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HNW-Microsite-1</title>
    <link rel="stylesheet" href="./dist/css/bundle.css" />
</head>
<body>
    @RenderBody()

    <script src="./dist/scripts/bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
