
html,body {
    height:100% !important;
    min-width: 320px;
}
.core-layout {
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%; 
}
@media (min-width: 768px) {
.core-layout {
    max-width: 880px; } 
}
@media (min-width: 992px) {
.core-layout {
    max-width: 950px; } 
}
@media (min-width: 1200px) {
.core-layout {
    max-width: 1100px; } 
}

