
.login {

    color:$comet;
    margin: 0 auto;
    width: 400px;

    form {
        width:100%;
    }

    .card {
        padding:1rem;
    }
}

.login-brand {
    margin-top:20px;
    margin-bottom:40px;
}

@media screen and (max-width: 425px) {
    .login {
        width: 90%;
        margin: 0 auto;

        .card {
            padding:0rem;
        }
    }
}



