.sb {
    padding: 1rem 0px;

    .nav-link {
        color: rgba($white, .5);
    }
    .nav-link:hover {
        color: $white;
    }
    .nav-link.active {
        color: $white;
        background-color:$curiousblue;
    }
}

.sb-links {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .sb-links {
        display: block!important; // always show on larger screen
    }
}

.sb-nav-title {
    color:$comet;
    font-size:85%;
    text-transform: uppercase;
    margin-top:20px;
    margin-bottom:5px;
}

.sb-toggle-btn {
    color: rgba($white, .5);
    &:active, &:hover {
        color:$white;
    }
}

.sb-search {
    position: relative;
    margin-bottom: 1rem;
}

.sb-search-input {
    border: 1px solid $riverbed;
    background-color:$riverbed;
}

.sb-search-btn {
    position:absolute;
    top:1;
    right:0px;
    padding: 9px 10px;
    color:$comet;
    border:0;
    line-height: 0;
    background-color:transparent;
}
