.page-tabs {

    a.nav-link {
        color:$white;
    }

    a.nav-link:hover {
        color:$curiousblue;
        cursor: pointer;
    }

    a.nav-link.active  {
        font-weight:500;
        color:$curiousblue;
        background:transparent;
        border-bottom: 4px solid $curiousblue;
        border-radius: 0;

        &:hover {
            cursor: default;
        }
    }
}